@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&family=Roboto:wght@100;400;500;700&display=swap');

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('SharpGrotesk.woff2'), url('SharpGrotesk.woff2') format('truetype'), url('SharpGrotesk.woff2') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --cyan-blue: #0061fe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  background-color: black;
  font-family: Roboto, sans-serif;
}

/* NAVBAR */
.navbar {
  background-color: white;
  height: 45px;
  display: flex;
  flex-direction: row;
}

.navbar .left-box {
  display: flex;
  flex-direction: row;
}

.navbar .logo-img {
  color: white;
  background-color: var(--cyan-blue);
  height: 45px;
  width: 45px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .logo-text {
  font-weight: 500;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}